@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
body{
    background-color:#FDF4F4;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.background_images{
    width: 10%;
    opacity: 1;
    z-index: -1;
    opacity:0.5;
    position: absolute;
}
section{
    border: black 3px solid;
}
input{
    width: 2em;
    height:2em;
    font-size: larger;
    text-align: center;

/* problem, its not allign to the center and im stuppborn to connect the two inputs inside a container */

}
h1,time{
    color: #7F8330;
    font-weight: lighter;
    font-size:4em;
    text-align: center;
}

/* Main Layout */
main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;

    width: 100%;
    height: 70vh;
}


/* Timer Display */
#hero{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#hero>button{
position: static;
}
#timer{
    background-color:#D94A38;
    text-align: center;
    width: 40%;
    align-self: center;
}
time{
    border-radius: 50em;
    border: #6750A4 solid 1px;
}
h1{
    font-family: italiana;
}
#pomodoro{
    width: auto;
    height: 60%;
}
#timerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: stretch;
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}




/* Timer Functions */
#TimerFunctions{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
}

button{
    height:10em;
    width: 10em;
}





/* FIX THIS ENTIRE SECTIOn TOMMOROW */
#setBreakTimer,
#setPomodoroTimer{
    height: 10em;
    width: 10em;
    border:black 1px solid;

    display: flex;
    flex-wrap: wrap;
/* Dont be scare dby all this extra code, i am simply trying to allign the two time 
functions without putting them in yet another container, Track this back to the input{} at the top of css document */
justify-content: center;
h2{
    width: 100%;
}
}

#setPomodoroTimer{
    border-radius: 100%;
    background-color: #D94A38;
    border: transparent;
}
#setBreakTimer{
background-color: rgba(127, 131, 48, 0.3); /* 0.6 = 60% opacity */
border: #7F8330 2px solid;

h2{
    background-color:#7F8330;
}
}

h2{
    color: white;
    background-color: inherit;
    border-radius:10px;
    align-self: center;
    padding: 5%;
}


/* Themes Section */
#DisplayThemes{
    width: 100%;
    height: 30%;
}
span{
    display: inline;
}

@media(max-width:400px){
#TimerFunctions{
    width: 100%;
    flex-direction: row;
}
}