@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
body{
    background-color:#FDF4F4;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.background_images{
    width: 10%;
    opacity: 1;
    z-index: -1;
    opacity:0.5;
    position: absolute;
}
section{
    border: black 3px solid;
}
input{
    border: black 2px solid;
    width: 30%;
    height:30%;
}

/* Main Layout */
main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;

    width: 100%;
    height: 70vh;
}


/* Timer Display */
#timer{
    background-color:#D94A38;
    text-align: center;
}
h1{
    font-family: italiana;
}
#pomodoro{
    width: auto;
    height: 60%;
}
#timerDisplay{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: stretch;
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}



/* Timer Functions */
#TimerFunctions{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: white;
}


/* Themes Section */
#DisplayThemes{
    width: 100%;
    height: 30%;
}
span{
    display: inline;
}

@media(max-width:800px){
#TimerFunctions{
    width: 100%;
    flex-direction: row;
}
}