@import url(https://fonts.googleapis.com/css?family=Italiana:regular);


/* Variables */

:root{
    --red:#D94A38;
    --lemon_yellow:var(#FFD307);
    --tomato-green:var(--tomato-green);
    
}

                                          /* General Style/Layout */
body{
    background-color:#FDF4F4;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
}
.background_images{
    width: 10%;
    opacity: 1;
    z-index: -5;
    opacity:0.3;
}

h1{
    margin-top: 5%;
    font-family: italiana;
}
input{
    width: 2em;
    height:2em;
    font-size: larger;
    text-align: center;

/* problem, its not allign to the center and im stuppborn to connect the two inputs inside a container */

}
main{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 70vh;
}


/* Timer Display */
#hero{
    align-items: center;
    justify-content: space-evenly;
}
#hero>button{
position: static;
}
#timer{
    background-color:var(--red);
    text-align: center;
    width: 100%;
    color: white;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    transition: 1s;
}

#pomodoro{
    height: 50%;
    width: auto;
    align-self: center;
    position: relative; 
    z-index: 3;

}

#pomodoro_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
    flex-basis: 100%;
}

#timerDisplay{
    width: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}
h1,time{
    border-radius: 50em;
    color: #7F8330;
    font-weight: lighter;
    font-size:4em;
    text-align: center;
    text-wrap: nowrap;
}




/* Timer Functions */
#TimerFunctions{
    display: flex;
    flex-direction: column;
    height: inherit;
    width: 20%;
    flex-grow: 1;
    flex-shrink: 1;
}

button{
    height:10em;
    width: 10em;
}
#pause,#play{
    display: none;
    cursor: pointer;
    height: 30%;
    
}
#start{
    display: block;
    cursor: pointer;
    height: 30%;
}





/* FIX THIS ENTIRE SECTIOn TOMMOROW */
#setBreakTimer,
#setPomodoroTimer{
    height: 10em;
    width: 10em;
    border:black 1px solid;

    display: flex;
    flex-wrap: wrap;
/* Dont be scare dby all this extra code, i am simply trying to allign the two time 
functions without putting them in yet another container, Track this back to the input{} at the top of css document */
justify-content: center;
h2{
    width: 100%;
}
}

#setPomodoroTimer{
    border-radius: 100%;
    background-color: #D94A38;
    border: transparent;
}
#setBreakTimer{
background-color: rgba(127, 131, 48, 0.3); /* 0.6 = 60% opacity */
border: #7F8330 2px solid;

h2{
    background-color:#7F8330;
}
}

h2{
    color: white;
    background-color: inherit;
    border-radius:10px;
    align-self: center;
    padding: 5%;
}


/* Themes Section */
#DisplayThemes{
    width: 100%;
    height: 30%;
}
span{
    display: inline;
}

@media(max-width:600px){
#TimerFunctions{
    width: 100%;
    flex-direction: row;
}

.background_images{
    width: 30%;
    opacity: 1;
    opacity:0.3;
}
}